[project]
	description = A simple Producer/Consumer client for Kafka (a distributed publish/subscribe messaging service)
[access "refs/*"]
	owner = group user/liamstewart (liamstewart)
[access "refs/for/refs/*"]
	read = group user/liamstewart (liamstewart)
	push = group user/liamstewart (liamstewart)
	label-Code-Review = -2..+2 group user/liamstewart (liamstewart)
	label-Verified = -1..+1 group user/liamstewart (liamstewart)
	rebase = group user/liamstewart (liamstewart)
	removeReviewer = group user/liamstewart (liamstewart)
	submit = group user/liamstewart (liamstewart)
[access "refs/heads/*"]
	read = group user/liamstewart (liamstewart)
	create = group user/liamstewart (liamstewart)
	push = +force group user/liamstewart (liamstewart)
	pushMerge = group user/liamstewart (liamstewart)
[access "refs/tags/*"]
	push = +force group user/liamstewart (liamstewart)
	pushTag = group user/liamstewart (liamstewart)
	pushSignedTag = group user/liamstewart (liamstewart)
